.cms-edit {
    position: relative;
    display: inline-block;
    background-color: lightgray;
    color: white;
    border: 1px solid white;
    font-size: 10px;
    font-weight: normal;
    padding: 1px;
    line-height: 1em;
}
.cms-edit:hover {
    cursor: pointer;
}

.cms-editor {
    position: fixed;
    font-size: 14px;
    top: 0;
    right: 10px;
    z-index: 99;
    background-color: lightgray;
    padding: 5px;
    display: none;

    h4 {
        margin: 0 0 5px 0;
        color: black;
    }

    textarea {
        width: 300px;
        height: 200px;
    }

}

